@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

  .bouncy-container {
    display: flex;
    justify-content: center;
  }
  
  .bouncy {
    font-size: 5rem;
    color: #333;
  }

  
  .bouncing {
    animation: rubberband 800ms alternate ease-out;
  }
  
  @keyframes rubberband {
    0% { transform: scaleX(1) scaleY(1); }
    40% { transform: scaleX(1.12) scaleY(0.75); }
    55% { transform: scaleX(0.85) scaleY(1); }
    65% { transform: scaleX(1.09) scaleY(0.85); }
    75% { transform: scaleX(0.9) scaleY(1); }
    90% { transform: scaleX(1.05) scaleY(0.95); }
    100% { transform: scaleX(1) scaleY(1); }
  }

  .card-about {
    border-radius: 5px;
    box-shadow: 2px 5px 10px black;
    width: 80%;
    max-width: 600px;
    display: flex;
    flex-direction: row;
    background-color: #498afb;
    color: white;
    margin: 0 auto;
    text-align: center;
    padding: 1em; 
  }

  .profile-img {
    border-radius: 50%;
    width:125px;
    border: 5px solid white;
  }

  .social-list {
    display: inline-block;
    justify-content: space-around;
    list-style: none;
    margin: 0;
    padding: 0;
    padding-top: 10px;
    width: 25px;
    margin: 0 auto;
  }

  .social-list i {
    color: white;
  }

  .social-list i:hover {
    color: white;
    transition: 0.1s;
    font-size: 14px;
  }

  .profile-position {
    margin: 0;
    text-transform: uppercase;
    font-size: 18px;
    letter-spacing: 3px;
    margin-bottom: .5em;
  }

  .profile-main {
    text-align: left;
    margin-left: 2em;
    margin-left: 1em; /* Adjust margin for spacing between image and content */

  }

  .profile-name::after {
    margin-left: 0;
  }

  @media only screen and (max-width: 769px) {
    .card-about {
      box-shadow: 0, 0, 20px rgba(0, 0, 0, 0.2);
      border-radius: 5px;
      box-shadow: 2px 5px 10px black;
      width: 80%;
      max-width: 600px;
      display: flex;
      flex-direction: column;
      background: linear-gradient(to right, #FF00FF, #0096FF);
      color: white;
      margin: 0 auto;
      text-align: center;
      padding: 1em;
    }
  
    .profile-img {
      border-radius: 50%;
      width:125px;
      border: 3px solid white;
    }
  
    .social-list {
      display: inline-block;
      justify-content:space-around;
      list-style: none;
      margin: 0;
      padding: 0;
      width: 50px;
      margin: 0;
      text-align: center;
    }
  
    .social-list i {
      color: white;
    }
  
    .profile-name {
      font-size: 2rem;
      margin-left: -25px;
      padding: 0;
      text-align: center;
    }
  
    .line {
      display: block;
      height: 1px;
      width: 10em;
      background-color: white;
      margin: .5em auto .75em;
    }
  
    .profile-position {
      margin: 0;
      text-transform: uppercase;
      text-align: center;
      font-size: 18px;
      margin-left: -25px;
      margin-bottom: .5em;
    }
  
    .profile-body {
      font-weight: 300;
      margin-bottom: 0;
      text-align: center;
      margin-left: -25px;
      font-size: 14px;
    }
  
  }